{% extends 'base.html' %}

{% block title %}Friendships{% endblock %}

{% block body %}

		<div class="container">
			<!-- Search bar -->
			<div class="row">
		        <div class="col-md-6 col-md-offset-3" style="text-align:center;">
			        <form action="{{url_for('friendships')}}" method="get">
			    		<h2>Search for Your Companions</h2>
			            <div id="custom-search-input">
			                <div class="input-group col-md-12">
			                    <input type="text" class="form-control input-lg" name="q" placeholder="Enter a name or username" />
			                    <span class="input-group-btn">
			                        <button class="btn btn-info btn-lg" type="submit">
			                            <i class="glyphicon glyphicon-search"></i>
			                        </button>
			                    </span>
			                </div>
			            </div>
			        </form>
			    </div>
			</div>
			<div class="col-md-8 col-md-offset-2">
				<!-- user results -->
				{% if query != "" %}<h2 class="underline bold">Users for: <span class="gray">{{query}}</span></h2>{% endif %}
				{% for friend in friends %}
					<div class="row panel search-result">
						<a href="{{url_for('friendships')}}?id={{friend.id}}" class="search-result">
							<div class="col-md-9">
								<span class="bold large gray">{{friend.name}}</span> @{{friend.screen_name}}<br/>
								<img src="{{friend.profile_image_url}}" style="height:40px;width:40px;border-radius:10%;"/>
							</div>
							<div class="col-md-3" style="text-align:right;">
								<span class="bold">Joined {{friend.created_at.strftime('%b %d, %Y')}}</span><br/>
								<h4 class="bold">{{friend.location}}</h4>
							</div>
						</a>
					</div>
				{% endfor %}
				<!-- friendship results -->
				{% if selected != "" %}<h2 class="underline bold">Friendship with: <span class="gray">{{selected.name}}</span></h2>{% endif %}
				{% for item in fship if item.screen_name == user.screen_name %}
					<div class="row panel bold large">
						<div class="col-md-6">

						<!-- You are following other-->
							You are following <span class="gray">@{{selected.screen_name}}</span>: <span {% if item.following == true %} class="true" {% elif item.following == false %} class="false" {% endif %}>{{item.following}}</span><br/>
						<!-- You are blocking other -->
							You are blocking <span class="gray">@{{selected.screen_name}}</span>: <span {% if item.blocking == true %} class="true" {% elif item.blocking == false %} class="false" {% endif %}>{{item.blocking}}</span><br/>
						<!-- You are muting other -->
							You are muting <span class="gray">@{{selected.screen_name}}</span>: <span {% if item.muting == true %} class="true" {% elif item.muting == false %} class="false" {% endif %}>{{item.muting}}</span><br/>

						</div>
						<div class="col-md-6" style="text-align:right;">

						<!-- Other is following you -->
							<span class="gray">@{{selected.screen_name}}</span> is following you: <span {% if item.followed_by == true %} class="true" {% elif item.followed_by == false %} class="false" {% endif %}>{{item.followed_by}}</span><br/>
						<!-- Other is blocking you -->
							<span class="gray">@{{selected.screen_name}}</span> is blocking you: <span {% if item.blocked_by == true %} class="true" {% elif item.blocked_by == false %} class="false" {% endif %}>{{item.blocked_by}}</span><br/>
						<!-- You can dm other -->
							You can DM <span class="gray">@{{selected.screen_name}}</span>: <span {% if item.can_dm == true %} class="true" {% elif item.can_dm == false %} class="false" {% endif %}>{{item.can_dm}}</span><br/>

						</div>
					</div>
				{% endfor %}
			</div>
		</div>

{% endblock %}