<!DOCTYPE html>
<html>
	<head>
		<title>Log in to TweetMate</title>

		<!-- CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

		<!-- JS -->
		<script href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

		<!-- FONTS -->
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>

		<style>
			body {
				font-family: 'Josefin Sans', sans-serif;
				color:white;
			}
			#landing-content {
				display: inline-block;
			    vertical-align: middle;
			    float: none;
			    margin-top:35vh;
			}
			#landing-section {
				height:100vh;
				width:100%;
				background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('{{url_for('static', filename='images/wallpaper.jpg')}}');
				background-size:cover;
				text-align:center;
			}
		</style>

	</head>

	<body>

	<section id="landing-section">
		<div id="landing-content">
			<h1>Discover the meaning behind the Tweet</h1>
			<form action="{{url_for('login')}}" method="post">
				<button class="btn btn-info btn-lg" type="submit"><i class="fa fa-twitter fa-fw"></i> Log in with Twitter</button>
			</form>
		</div>
	</section>


	</body>
</html>